.nav-title{
    color:#ffffff;
}

.erreur-top{
    position:absolute;
    right:0%;
    min-width:350px;
    top:70px;
}

.jumbotron{
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

.jumbotron h1{
    font-weight: 100;
    font-family: 'Helvetica Light';
}

.btn-down-10{
    margin-bottom: 10px;
}

.btn-right{
    float:right;
}

.label-right{
    float:right;
}

.introinscri{
    font-size: 15pt;
}