.nav-title{
    color:#ffffff;
}

.erreur-top{
    position:absolute;
    right:0%;
    min-width:350px;
    top:70px;
}

.jumbotron{
    margin-top:50px;
}

.btn-down-10{
    margin-bottom: 10px;
}

.btn-right{
    float:right;
}